<div class="row">
   <div class="twelve columns">
       <div class="six columns">
       <label for="filter-products">Busca un producto por su nombre</label>
       <input
               id="filter-products"
               type="text"
               ng-model="filterProducts"
               placeholder="Ej. Call of Duty">
       </div>
        <div class="six columns">
            <label for="categorySelect">Filtrar por categoría</label>
            <select class="u-full-width" name="categorySelect" id="categorySelect" ng-model="selectedCategory">
                <option value="undefined">Todas</option>
                <option ng-repeat="c in $ctrl.categories" value="{{ c }}">{{ c.name }}</option>

            </select>
            <label>{{selectedCategory}}</label>
        </div>
   </div>
   <div class="twelve columns">
        <box-product ng-repeat="p in $ctrl.products | filter:{name: filterProducts}" product="p" onClickProduct="p"></box-product>
   </div>
</div>