<div class="row">
   <div class="twelve columns">
       <div class="six columns">
       <label for="filter-products">Busca un producto por su nombre</label>
       <input
               id="filter-products"
               type="text"
               ng-model="filterProducts"
               placeholder="Ej. Call of Duty">
       </div>
        <div class="six columns">
            <div class="six columns">
                <label for="categorySelect">Filtrar por categoría</label>
                <select class="u-full-width"
                        name="categorySelect"
                        id="categorySelect"
                        ng-model="selectedCategory"
                        >
                    <option value="" selected="selected">Todas</option>
                    <option ng-repeat="c in $ctrl.categories" value="{{ c.id }}">{{ c.name }}</option>
                </select>
            </div>
            <div class="six columns">
                <label for="filter-distance">Filtrar por distancia</label>
                <input type="range"
                       min="1"
                       max="50"
                       step="1"
                       value="50"
                       id="filter-distance"
                       ng-model="selectedDistance"
                        >
                <label for="filter-distance" align="center">{{selectedDistance}}km</label>
            </div>
        </div>
   </div>
   <div class="twelve columns">
        <box-product
                ng-repeat="p in $ctrl.products | filter:{name: filterProducts} | CategoryFilter:selectedCategory | DistanceFilter:$ctrl.users:selectedDistance:$ctrl.currentLocation"
                product="p"
                onClickProduct="p"
                >
        </box-product>
   </div>
</div>