.nav-bar div {
    height: 70px;
    background-color: #1eaedb;
    margin-bottom: 20px;
}

.product-card {

    border: 1px solid #1eaedb;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;

}

.info-label {

    height: 50px;
}

.card-info div {


}